/*
------ STYLES GENERAL ------
Created by: lmduc
Created date: 9/6/2018
----------------------------
 */
body {
  font-family: 'Hind', sans-serif;
  color: #4A4E5A;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  color: #30323A;
  margin: 0 0 10px;
  font-weight: 700; }

a {
  color: #30323A;
  -webkit-transition: 0.3s color;
  transition: 0.3s color; }

a:hover, a:focus {
  color: #0388CD;
  text-decoration: none;
  outline: none; }

.primary-color {
  color: #0388CD; }

.white-color {
  color: #FFFFFF; }

.font-weak {
  font-weight: 400; }

strong {
  color: #30323A; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border-color: #DADADA; }
